<div ng-controller="moviesController">
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">Filmy</div>
      <div class="panel-body">

        <table border="1" class="table">
	<thead>
          <tr class="success">
            <th>plakat</th>
            <th>tytuł malejąco:<input type="checkbox" ng-model="desc" /></th>
	    <th>przycisk</th>
          </tr>
	</thead>
        <tr ng-repeat="movie in movies | orderBy: ifDesc()" class="info">
	<td><img ng-src={{movie.poster}} height='100' weight='100' /> </td>
	<td>{{movie.title}}</td>
	<td><a href="#" class="btn btn-xs btn-primary" ng-click="showRating($index)" type="button">zobacz oceny</a> </td>
    	</tr>
</table>   
      </div>
    </div>
        </div>
        <div class="col-md-2"></div>
</div>
